.btn {
    &-default {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid rgb(0 0 0 / 0%);
        padding: 0.275rem 0.65rem;
        margin: 0.25rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        cursor: pointer;
        border-color: rgb(0 123 255);
        
        &:hover {
            color: rgb(255 255 255);
            background-color: rgb(73, 84, 241);
            border-color: rgb(132, 131, 227);
        }
    }

    &-circle {
        border-radius: 50%;
    }
    
    &-none {
        background-color: transparent;
    }
    
    &-special {
        background-color: transparent;
        padding: 0.1rem 0.35rem;
        margin: 0.1rem;
    }

    &--yellow {
        background-color:  rgb(224 168 0);
        border: rgb(211 158 0);
    }

    &--grey {
        background-color: rgb(90 98 104);
        border-color: rgb(84 91 98);
    }
    
    &-check {
        border: none;
        background-color: transparent;
        padding: 0.1rem 0.35rem;
        margin: 0.1rem;
    }
    &-check:hover {
        color: rgb(255 255 255);
        background-color: rgb(132, 183, 237);
        border-color: rgb(235, 48, 6);
    }
}

.input {
    &-default[type="text"] {
        width: 100%;
        padding: 0.375rem 0.75rem;
        margin: 0.25rem;
        font-size: 1rem;
        line-height: 1.5;
        color: rgb(73 80 87);
        background-color: rgb(255 255 255);
        background-clip: padding-box;
        border: 1px solid rgb(122, 121, 198);
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        &:focus {
            color: rgb(73 80 87);
            background-color: rgb(255 255 255);
            border-color: rgb(128 189 255);
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
    }
}
