$main-bg: rgb(237, 234, 234);
$main-color: #4267b2;

$text-main-color: #000;
$text-second-color: #8d8d8d;

$link-color: #123;

$mobile-min-width: 576px; // sm
$tablet-min-width: 768px; // md
$deskop-min-width: 1280px; // lg

$color-list : (
    "red" : red,
    "blue" : dodgerblue,
    "green" : rgb(28, 233, 69),
    "gray" : gray,
    "light" :rgb(248 249 250),
    "violet" : violet
);
