.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: rgb(0 123 255);
        background-color: rgb(255 255 255);
        border: 1px solid rgb(222 226 230);
    }

    .page-link:hover {
        color: rgb(0 86 179);
        text-decoration: none;
        background-color: rgb(233 236 239);
        border-color: rgb(222 226 230);
    }
    .page-link:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    a {
        color: rgb(0 123 255);
        text-decoration: none;
    }
}